.breadcrumb 
    list-style: none
    padding: 0
    margin: 0
    display: flex
    flex-wrap: wrap
    padding: 10px


.breadcrumb-item 
    display: flex
    align-items: center


.breadcrumb-link
    background: none
    border: none
    font-family: 'Poppins', sans-serif
    font-size: 14px
    color: #4b4949


.breadcrumb-link:hover 
    color: #0056b3
    text-decoration: underline


.breadcrumb-separator 
    margin: 0 8px
    color: #999

